@media screen and (max-width: 320px){
    
}
@media screen and (max-width: 425px){

}
@media screen and (max-width: 525px){
    .header {
        height: 40px;
    }
    .sidebar-open-btn{
        display: none;
    }
    .menu-open-btn{
        display: block;
    }
    .sidebar-close-btn{
        display: block;
    }
    .sidebar {
        top: 2%;
        width: 10%;
        height: 90vh;
        background: var(--secondary-background-color);
        position: fixed;
        left: 0;
        display: none;
        overflow-x: hidden;
        padding-top: 1rem;
        overflow-y: scroll;
        z-index: 1000;
    }

    .content {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        padding: 1.6rem;
        transition: none;
    }
    .sidebar-list .menu-item {
        gap: .5rem;
        font-size: var(--font-size-sm);
    }
    .welcome-message {
        margin: 30px 0 15px 0;
    }

    .welcome-message .title {
        font-size: var(--font-size-m);
    }

    .dashboard-content-container {
        grid-template-columns: repeat(1, 1fr);
        gap: var(--gap);
    }
    
    .box .text {
        font-size: 16px;
    }

    .box .number {
        font-size: 30px;
    }
    .tables-container{
        margin-top: 3rem;
    }

    table {
        margin-top: 1.5rem;
    }

    th {
        font-size: var(--font-size-sm);
        padding: .25rem .5rem;
    }

    td {
        font-size: var(--font-size-xsmall);
        padding: .1rem .75rem;
    }

}
@media screen and (max-width: 615px) {
    
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 950px){

}
@media screen and (max-width: 1200px){

}
